
.Btn {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}


.Clear,
.Clear_Inverted {
    background: transparent;
    box-sizing: border-box;
}

.Clear {
    color: var(--inverted-primary-color);
}

.Clear_Inverted {
    color: var(--primary-color);
}

.Primary, .Primary_Inverted {
    border-radius: 10px;
}

.Primary {
    color: var(--primary-color);
    background-color: var(--inverted-bg-color) ;
}

.Primary_Inverted {
    color: var(--inverted-primary-color);
    background-color: var(--bg-color);
}


.Outline,
.Outline_Inverted {
    background: transparent;
    border-radius: 10px;
}

.Outline {
    border: 1px solid var(--inverted-primary-color);
    color: var(--inverted-primary-color);
}

.Outline_Inverted {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.Background {
    color: var(--inverted-primary-color);
    background: var(--bg-color);
}

.Background_Inverted {
    color: var(--primary-color);
    background: var(--inverted-bg-color);
}

.Square {
    padding: 0;
    border-radius: 0;
}

.Square.Size_S {
    width: var(--font-line-s);
    height: var(--font-line-s);
}

.Square.Size_M {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.Square.Size_L {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.Square.Size_XL {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.Size_S {
    line-height: var(--font-line-s);
    font-size: var(--font-size-s);
}

.Size_M {
    line-height: var(--font-line-m);
    font-size: var(--font-size-m);
}

.Size_L {
    line-height: var(--font-line-l);
    font-size: var(--font-size-l);
}

.Size_XL {
    line-height: var(--font-line-xl);
    font-size: var(--font-size-xl);
}

.Disabled {
    opacity: 0.5;
}

.noPadding {
    padding: 0 !important;
    margin: 0 !important;
    line-height: unset;
    font-size: unset;
}